# 🧪 ETL Testing Template using Jupyter Notebook
This notebook is a structured template for performing ETL data validation tasks using Python, Pandas, and SQL.

In [9]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import logging
#from sqlalchemy import create_engine

#logging.basicConfig(level=logging.INFO)

## 📥 Load Source and Target Data

In [10]:
df_source = pd.read_csv("source_data.csv")
df_target = pd.read_csv("target_data.csv")

df_source

In [ ]:
df_target

In [7]:
# Example: Load CSV files
df_source = pd.read_csv("source_data.csv")
df_target = pd.read_csv("target_data.csv")

# Or from SQL Database (example using SQLAlchemy)
# engine = create_engine("mysql+pymysql://username:password@host:port/database")
# df_source = pd.read_sql("SELECT * FROM source_table", engine)
# df_target = pd.read_sql("SELECT * FROM target_table", engine)

## 🔍 Initial Data Inspection

In [ ]:
print("Source Data:")
display(df_source.head())

print("Target Data:")
display(df_target.head())

print("Source Info:")
df_source.info()

print("Target Info:")
df_target.info()

## ✅ Row Count Validation

In [11]:
assert df_source.shape[0] == df_target.shape[0], "Row count mismatch!"
print("Row count validation passed.")

Row count validation passed.

## ✅ Column & Data Type Validation

In [12]:
print("Source Columns:", df_source.columns.tolist())
print("Target Columns:", df_target.columns.tolist())

print("Source Data Types:")
print(df_source.dtypes)
print("Target Data Types:")
print(df_target.dtypes)

Source Columns: ['id', 'name', 'amount', 'date']
Target Columns: ['id', 'name', 'amount', 'date']
Source Data Types:
id         int64
name      object
amount     int64
date      object
dtype: object
Target Data Types:
id         int64
name      object
amount     int64
date      object
dtype: object

## ✅ Null Check

In [ ]:
print("Nulls in Source:")
print(df_source.isnull().sum())

print("Nulls in Target:")
print(df_target.isnull().sum())

## ✅ Duplicate Check

In [ ]:
print("Duplicate rows in Source:", df_source.duplicated().sum())
print("Duplicate rows in Target:", df_target.duplicated().sum())

## ✅ Data Accuracy Check

In [ ]:
comparison_result = df_source.equals(df_target)
print("Data Match:", comparison_result)

## ✅ Business Rule Validation Example

In [ ]:
# Example: Check if all values in 'amount' are greater than 0
assert (df_target['amount'] > 0).all(), "Amount contains non-positive values!"

## 📊 Visualization (Optional)

In [ ]:
# Null heatmap
sns.heatmap(df_target.isnull(), cbar=False)
plt.title("Null Value Heatmap - Target Data")
plt.show()

## 📤 Export Results (if needed)

In [ ]:
# df_source.to_excel("source_output.xlsx", index=False)
# df_target.to_excel("target_output.xlsx", index=False)